.header {
    background-color: gray;
    display: grid;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New';
    height: 40px;
    grid-template-columns: 0.1fr 1fr 0.1fr;
}

#homeIcon {
    justify-self: start;
}

#header {
    justify-self: center;
}

#cartIcon {
    justify-self: end;
}

#homeIcon a {
    color: white;
}

#cartIcon a {
    color: white;
}

main {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: gray;
    height: 30px;
}

.navBar {
    background-color: rgb(206, 202, 202);
    padding-left: 20px;
}

.link {
    text-decoration: none;
    color: darkslategray;
}

.categoryList {
    list-style: none;
    text-decoration: none;
    color: rgb(9, 22, 1);
    font-size: 18px;
}

.footer a {
    color: aliceblue;
}

.basketTitles a {
    color: darkslategray;
    text-decoration: none;
}