.header {
    background-color: gray;
    display: grid;
    justify-content: center;
    font-size: 30px;
}

main {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
}

.footer {
    display: grid;
    justify-content: center;
    background-color: gray;
}

.navBar {
    background-color: rgb(206, 202, 202);
    padding-left: 20px;
}

.link {
    text-decoration: none;
    color: rgb(3, 19, 1)
}

.categoryList {
    list-style: none;
    text-decoration: none;
    color: rgb(9, 22, 1);
    font-size: 18px;
}